body{
    background-color: black;

}
.top_row{
    height: 20vh;
}
.row img{
    border-radius: 10px;
}
.navbar_cont ul li{
    margin-top: 25px;
    list-style: none;
}
.navbar_cont ul li a{
    text-decoration: none;
    color: white;
    transition: 1s;
    border-radius: 15px;
    padding: 10px;
}
.navbar_cont ul li a:hover{
    border: 2px solid whitesmoke;
}
#sembol{
    font-size: 150px;
}
.row .col-2 h3{
    color:lightgray;
    margin-top: 10px;

}
.row .col-2 img:hover{
    opacity: 0.2;
    cursor: pointer;

}
